/* .card-container {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: #f0f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: relative;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  
  .close-button {
    background-color: #FF6B6B;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .separator {
    border: none;
    height: 1px;
    background-color: #ff6b6b;
    margin: 10px 0;
  }
  
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .color-info {
    font-weight: bold;
    color: #000;
  }
  
  .location-info {
    font-weight: bold;
    color: #000;
  }
  
  .location-detail {
    font-size: 12px;
    color: gray;
  }
  
  .error-message {
    margin-top: 15px;
    color: #FF6B6B;
    font-weight: bold;
    font-size: 16px;
  }
   */
   .card {
    background-color: #00a0e9;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-family: sans-serif;
  }
  
  .card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .card .info .icon {
    display: flex;
    align-items: center;
  }
  
  .card .info .icon svg {
    width: 24px;
    height: 24px;
    fill: white;
    margin-right: 5px;
  }
  
  .card .info .text {
    font-size: 16px;
  }
  
  .card .status {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card .booked {
    font-size: 14px;
    color: #888;
  }