.card {
    weight:300px;
    height:150px;

    background-color: #e0f2ff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-icon {
    display: flex;
    align-items: center;
  }
  
  .card-icon svg {
    fill: yellow;
  }
  
  .card-body {
    margin-bottom: 10px;
  }
  
  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .card-info-label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .card-expected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .card-expected-label {
    font-weight: bold;
  }
  
  .card-footer {
    font-size: 12px;
    color: #888;
  }